@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #efefef;
}

.container {
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
}

header {
    background: #000000;
    color: rgb(255, 255, 255);
    padding-top: 30px;
    min-height: 70px;
}

header .container {
    display: flex; 
    align-items: center; 
}

header a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header ul {
    padding: 0;
    margin: 0;
    list-style: none;
    overflow: hidden;
}

header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding {
    float: left;
}

header #branding h1 {
    margin: 0;
    font-size: 2em; 
    margin-right: 50px; 
}

header nav {
    margin-top: 0;
    margin-left: auto; 
    word-spacing: 2px;
}

#showcase {
    min-height: 600px;
    text-align: left; 
    color: #000000;
}

#showcase h1 {
    margin-top: 20px; 
    font-size: 55px;
    margin-bottom: 10px;
    text-align: left;
}

#showcase p {
    font-size: 20px;
    text-align: left;
}

#newsletter {
    padding: 15px;
    color: #fff;
    background: #000000;
}

#newsletter h1 {
    float: left;
}

#newsletter form {
    float: right;
    margin-top: 15px;
}

#newsletter input[type="email"] {
    padding: 4px;
    height: 25px;
    width: 250px;
}

.button_1 {
    height: 38px;
    background: #ac0b0b;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    color: #000000;
}

#boxes {
    margin-top: 20px;
}

#boxes .box {
    float: left;
    text-align: center;
    width: 30%;
    padding: 10px;
}

#boxes .box img {
    width: 90px;
}

footer {
    padding: 20px;
    margin-top: 20px;
    color: #fff;
    background-color: #ac0b0b;
    text-align: center;
}

.cta-button {
    background-color: #ac0b0b;
    color: white; 
    padding: 15px 30px;
    border: none;
    border-radius: 30px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #760707;
}

#showcase .container-flex {
    display: flex;
    align-items: center;
}

#showcase .text-content {
    flex: 1; 
    padding-right: 70px;
}
#showcase .image-content {
    flex: 1;
    padding-left: 40px;
}
#showcase .image-content img {
    max-width: 90%;
    height: auto;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1px;
}

h1 {
  text-align: center;
}

h2 {
  margin-top: 40px;
  color:  #ac0b0b;
}

.especialista {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 15px;
  background-color: #fafafa;
  margin-top: 20px;
}

.especialista h3 {
  margin: 0;
  color: #333;
}

.especialista p {
  margin: 5px 0;
  color: #555;
}

form {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 20px;
  font-weight: bold;
}
input, textarea, select {
margin-top: 5px;
padding: 10px;
font-size: 16px;
border-radius: 4px;
border: 1px solid #ccc;
width: 100%; 
box-sizing: border-box; 
}

.botao2 {
margin: 30px auto 0; 
padding: 8px 16px;
font-size: 14px;
width: 150px;
background-color: #ac0b0b;
color: white;
border: none;
border-radius: 5px;
cursor: pointer;
display: block; 
}


button:hover {
  background-color:  #ac0b0b;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
    transition: border-color 0.3s;
  }

  input:focus {
    border-color: #f74205;
    outline: none;
  }

  .ponto-lista {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 15px;
  }

  .pessoa {
    background: #ffffff;
    border-left: 6px solid #28a745;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
  }

  .pessoa strong {
    color: #333;
  }

  .pessoa span {
    display: block;
    color: #555;
    font-size: 14px;
    margin-top: 4px;
  }

.pontada {
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 100px;
    padding: 60px;
}
